<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书管理员-新书入库</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/font-awesome/css/font-awesome.min.css"
          th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" href="../../static/style/adMain.css" th:href="@{/style/adMain.css}">
    <link rel="stylesheet" type="text/css" href="../../static/style/adBook.css" th:href="@{/style/adBook.css}">
    <link rel="stylesheet" type="text/css" href="../../static/style/adAddBook.css" th:href="@{/style/adAddBook.css}"/>
    <script type="text/javascript" src="../../static/script/jquery-2.1.4.min.js"
            th:href="@{/script/jquery-2.1.4.min.js}"></script>

    <!-- 引入组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js" th:src="@{/script/vue.js}"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js" th:src="@{/script/ElementUI.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" th:src="@{/script/axios.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var left_li = $(".left ul li:eq(2)");
            left_li.css("color", "#FFF");
            left_li.css("background-color", "#BBCAF1");
            $(".left ul").find('li:eq(2)').children(".trig").css('display', 'block');
            $(".table tbody tr:odd").css("backgroundColor", "#DFF0D8");
            $(".table tbody tr").eq(3).addClass('error')
            $(".table tbody tr").eq(4).addClass('error')
            $(".data_1 input").attr('disabled', 'true');//图书编码默认不可输入
            var m_li = $(".menu ul li");
            m_li.eq(0).addClass('addCss');
            m_li.eq(0).click(function () {
                $(".menu_left").css('display', 'block');
                $(".menu_right").css('display', 'none');
                m_li.eq(1).removeClass('addCss')
                m_li.eq(0).addClass('addCss')

            });
            m_li.eq(1).click(function () {
                $(".menu_left").css('display', 'none');
                $(".menu_right").css('display', 'block');
                m_li.eq(0).removeClass('addCss')
                m_li.eq(1).addClass('addCss')
            });
        });
    </script>
</head>
<body>
<div class="ad_page">
    <div class="header">
        <img src="../images/logo.png">
        <div class="state">
            <div class="ad_name">
                <div class="fa_i"><i class="fa fa-user"></i></div>
                <a href="/bookAdmin/adPersonal.html">管理员01</a></div>
            <div class="out"><a href="../html/index.html">退出</a></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div class="left">
            <ul>
                <a href="/bookAdmin/adBorrowBook.html">
                    <li>读者借书
                        <div class="trig"></div>
                    </li>
                </a>
                <a href="/bookAdmin/adReturnBook.html">
                    <li>读者还书
                        <div class="trig"></div>
                    </li>
                </a>
                <a href="/bookAdmin/adAddBook.html">
                    <li>新书入库
                        <div class="trig"></div>
                    </li>
                </a>
                <a href="/bookAdmin/adOutBook.html">
                    <li>图书出库
                        <div class="trig"></div>
                    </li>
                </a>
                <a href="/bookAdmin/adAlterBook.html">
                    <li>修改图书信息
                        <div class="trig"></div>
                    </li>
                </a>
                <a href="/bookAdmin/adCheckBook.html">
                    <li>查阅借阅记录
                        <div class="trig"></div>
                    </li>
                </a>
                <a href="/bookAdmin/adSearchBook.html">
                    <li>查阅图书信息
                        <div class="trig"></div>
                    </li>
                </a>
                <a href="/bookAdmin/adPersonal.html">
                    <li>管理员中心
                        <div class="trig"></div>
                    </li>
                </a>
            </ul>
        </div>
        <div class="right">
            <!-- class="ad_data"的div中是图书管理员系统的切换部分 -->
            <div class="ad_data">
                <div class="menu">
                    <ul>
                        <li>手动输入</li>
                        <li>批量导入</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="menu_left">
                    <el-form id="app">
                        <el-form-item label="图书编号">
                            <el-col :span='8'>
                                <el-input v-model="book.bookId"></el-input>
                            </el-col>
                            <el-col :span="8">
                                <el-button @click="getSequence">打印编码</el-button>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="图书名称">
                            <el-input v-model="book.bookName"></el-input>
                        </el-form-item>
                        <el-form-item label="作者">
                            <el-input v-model="book.author"></el-input>
                        </el-form-item>
                        <el-form-item label="译者">
                            <el-input v-model="book.translator"></el-input>
                        </el-form-item>
                        <el-form-item label="价格">
                            <el-input v-model="book.price" type="number"></el-input>
                        </el-form-item>
                        <el-form-item label="ISBN编码">
                            <el-input v-model="book.isbnCode"></el-input>
                        </el-form-item>
                        <el-form-item label="出版社">
                            <el-input v-model="book.publishCompany"></el-input>
                        </el-form-item>
                        <el-form-item label="出版日期">
                            <el-col :span="11">
                                <el-date-picker type="date" placeholder="选择日期" v-model="book.comeUpTime"
                                                style="width: 100%;"></el-date-picker>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="入库者">
                            <el-input v-model="book.enteringMen"></el-input>
                        </el-form-item>
                        <el-form-item >
                            <el-button @click="addBook">确认加入</el-button>
                            <el-button>取消</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="menu_right">

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            book: {
                bookId: '',
                bookName: '',
                author: '',
                translator: '',
                price: '',
                isbnCode: '',
                comeUpTime: '',
                publishCompany: '',
                state: '',
                enteringMen: '',
                enteringDate: ''
            }
        },
        methods: {
            getSequence: function () {
                var _this = this;
                axios.post("/bookAdmin/getSequence").then(function (value) {
                    _this.parseInfo(value);
                    _this.book.bookId = value.data.data;
                }).catch(function (error) {
                    _this.$message('出现错误:' + error);
                });

            },
            addBook: function () {
                var _this = this;
                axios.post("/bookAdmin/insertBook", _this.book).then(function (value) {
                    _this.parseInfo(value);
                    _this.$message("添加成功")
                }).catch(function (error) {
                    _this.$message('出现错误:' + error);
                });
            }
            ,
            parseInfo: function (value) {
                var code = value.data.resultCode;
                if (code == 0) {
                    // this.$message("插入新书成功");
                    return true;
                }
                this.$message("请求失败，原因：" + value.data.message);
                return false;
            }
        }

    })
</script>
</body>
</html>